# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!terraform.tfvars.example
crash.log

# Dependencies
node_modules/

# Production build
dist/
build/

# Expo / React Native
.expo/
.expo-shared/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.envrc.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage
coverage/

# IDE
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
